<div class="container_instrucciones">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombre Instruccion</th>
            <th scope="col">Alias</th>
            <th scope="col">Fecha Actualizacion</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">2RC</th>
            <td>HR.2 RC Limpieza Cocina CCV</td>
            <td>Limpieza de Cocinas Centrales</td>
            <td>24/12/2024</td>
            <td>"https://xxxxx.com</td>
        </tr>
        <tr>
            <th scope="row">7.7RC</th>
            <td>7.7RC ensalada rev CCV</td>
            <td>Confeccion de ensaladas</td>
            <td>24/12/2024</td>
            <td>"https://oooo.com</td>
        </tr>
        <tr>
            <th scope="row">RPHT-10.1</th>
            <td>RPHT-10.1 Registro control temperaturas camaras</td>
            <td>Registro control Temperatura Puzol</td>
            <td>24/12/2024</td>
            <td>"https://ppp.com</td>
        </tr>
        </tbody>
    </table>

</div>