
<div *ngIf="clave ==='irco2023'">

    <div class="container_buttons" style="margin:10px 10px 10px 10px;">

    <!-- <a routerLink="/instrucciones" id="boton1" class="btn btn-info"  style="color:white; margin-right:10px">Instrucciones</a>
        <a routerLink="/registros" id="boton2" class="btn btn-info"  style="color:white; margin-right:10px">Registros</a>-->
        <a routerLink="/rrhh" id="boton5" class="btn btn-info"  style="color:white; margin-right:10px">RR.HH.</a>
        <a routerLink="/comercial" id="boton6"  class="btn btn-info" style="color:white; margin-right:10px">Comercial</a>
        <a routerLink="/manuales" id="boton3"  class="btn btn-info"  style="color:white;margin-right:10px">Manuales IT</a>
        <a routerLink="/registros-it" id="boton4"  class="btn btn-info" style="color:white; margin-right:10px">Registros IT</a>
        
    
    </div>

</div>

<div *ngIf="clave ==='Prevencion00'">

    <div class="container_buttons" style="margin:10px 10px 10px 10px;">

    <!-- <a routerLink="/instrucciones" id="boton1" class="btn btn-info"  style="color:white; margin-right:10px">Instrucciones</a>
        <a routerLink="/registros" id="boton2" class="btn btn-info"  style="color:white; margin-right:10px">Registros</a>-->
        <a routerLink="/prevencion" id="boton5" class="btn btn-info"  style="color:white; margin-right:10px">PREVENCION</a>     
            
    </div>

</div>
