
<div class="container_buttons" style="margin:10px 10px 10px 10px; border: 1px solid red">

    <a routerLink="/instrucciones" id="boton1" class="btn btn-info"  style="color:white; margin-right:10px">Instrucciones</a>
    <a routerLink="/registros" id="boton2" class="btn btn-info"  style="color:white; margin-right:10px">Registros</a>
    <a routerLink="/manuales" id="boton3"  class="btn btn-info"  style="color:white;margin-right:10px">Manuales IT</a>
    <a routerLink="/registros-it" id="boton4"  class="btn btn-info" style="color:white; margin-right:10px">Registros IT</a>

</div>
