.header_main {
    
    color:gray ;
    text-align:center;
    margin-bottom: 20px;

}

.container_buttons {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .container_buttons {
        width: 150%;
    }
}